<link
    rel="icon"
    type="image/png"
    href="/_includes/favicon/favicon-96x96.png"
    sizes="96x96"
/>
<link rel="icon" type="image/svg+xml" href="/_includes/favicon/favicon.svg" />
<link rel="shortcut icon" href="/_includes/favicon/favicon.ico" />
<link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/_includes/favicon/apple-touch-icon.png"
/>
<link rel="manifest" href="/_includes/favicon/site.webmanifest" />

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{{ page.title }}</title>
<link
    rel="stylesheet"
    href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"
/>
<script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
<meta
    name="viewport"
    content="width=device-width, initial-scale=1, user-scalable=no"
/>
